<div class="row mt-4"> 
  <div class="col-sm-4">
      <div class="card">
       
        <div class="card-body">
          {{inPerson.id}} 
          <h5 class="card-title">{{inPerson.firstname}}</h5>
          <p class="card-text">{{inPerson.lastname}}</p>
        </div>


    <div class="col-2">
      <div class="btn-group m-1">
        <button class="btn btn-primary" [ngStyle]="{'margin-right':'15px'}" (click)="onDeletePerson()">Удалить</button>
        <button class="btn btn-primary" [routerLink]="['/edit', inPerson.id]">Редактировать</button>
        </div>
      </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
       
        <div class="card-body">
          {{inPerson.id}} 
          <h5 class="card-title">{{inPerson.firstname}}</h5>
          <p class="card-text">{{inPerson.lastname}}</p>
        </div>


    <div class="col-2">
      <div class="btn-group m-1">
        <button class="btn btn-primary" [ngStyle]="{'margin-right':'15px'}" (click)="onDeletePerson()">Удалить</button>
        <button class="btn btn-primary" [routerLink]="['/edit', inPerson.id]">Редактировать</button>
        </div>
      </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
       
        <div class="card-body">
          {{inPerson.id}} 
          <h5 class="card-title">{{inPerson.firstname}}</h5>
          <p class="card-text">{{inPerson.lastname}}</p>
        </div>


    <div class="col-2">
      <div class="btn-group m-1">
        <button class="btn btn-primary" [ngStyle]="{'margin-right':'15px'}" (click)="onDeletePerson()">Удалить</button>
        <button class="btn btn-primary" [routerLink]="['/edit', inPerson.id]">Редактировать</button>
        </div>
      </div>
      </div>
    </div>
</div>


