<div class="container" [ngStyle]="{'margin-bottom':'30px'}">
  <div class="row mb-1">
    <div class="col">
      <input type="text" [(ngModel)]="srchFN" class="form-control" placeholder="Поиск по названию">
    </div>

  </div>
</div>



<div class="container">
  <app-person-view (delPerson)="personsService.onDeletePerson($event)"
                   [inPerson]="person"
                   *ngFor="let person of personsService.persons | filterFirstName:srchFN">
  </app-person-view> 
</div>
<hr>


